@model Website.Models.AboutMeModel

<!DOCTYPE html>
<!---->
<html lang="us">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Tyler Durham">
    <meta name="description" content="This is a simple site I made to test my Web Dev skills!">
    <title>Tyler's Domain</title>
    <link rel="icon" href="icon.png" type="image/x-icon"> <!--This builds the icon for the tab for your website!-->
    <link rel="stylesheet" href="~/css/Home.css" type="text/css">
    <script src="~/js/Specs.js"></script>
    <script src="~/js/portfolio.js"></script>
</head>

<html>

<!--Image-->
<div class="scroll">
    <img class="portrait" src="/img/portrait.png" title="A picture of me! " alt="A picture of me!"> 
</div>

<!--About-->
<p class="biography">ABOUT ME:
    <p class="biography">Age: @Model.MyAge</p>                                  
    <p class="biography">Self Taught Programmer (WIP)</p>
    <p class="biography">Years in learning: @Model.DeveloperAge</p>
    
    <!--Buttons-->

    <div class="btnOne">
        <button class="btn" onclick="PortfolioLink(this)" value="https://localhost:7256/portfolio">Portfolio</button>
    </div>

    <div class="btnTwo">
        <button class="btn" onclick="SpecsLink(this)" value="https://localhost:7256/specs">PC Setup</button>
    </div>

    <!---Education--->
    <div class="education-content">
        <h1 class="education-header">Education</h1>

        <div class="elementary-header">
            <h2>Elementary</h2>
        </div>

        <div class="elementary-bio">
            <p>
                @Model.ElementaryBio            
            </p>
        </div>

        <div class="middle-header">
            <h2>Middle</h2>
        </div>

        <div class="middle-bio">
            <p>
                @Model.MiddleBio
            </p>
        </div>

        <div class="high-header">
            <h2>High</h2>
        </div>

        <div class="high-bio">
            <p>
                @Model.HighBio
            </p>
        </div>


        <img class="muller" src="~/img/muller.png" />
        <img class="davidsen" src="~/img/davidson.png" />
        <img class="alonso" src="~/img/alonso.png" />




        <h1 class="hobbies-header">Hobbies</h1>


        <p class="speedrunner-bio">
            @Model.SpeedrunnerBio
        </p>
        @* TODO: MAKE TABLES FOR MY RECORDS*@
        <div class="gow">
            <div class="speedrunning-img">
                <img src="/img/gow.png">
            </div>



            <div class="records">
                <table>
                    <thead>
                        <tr>
                            <th>Game</th>
                            <th>Category</th>
                            <th>Time</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>@Model.GameName[0]</td>
                            <td>@Model.Category[0]</td>
                            <td>@Model.GodOfWarRecords[0]</td>
                            <td>March 7, 2019</td>
                            <td>Personal Best</td>
                        </tr>
                        <tr>
                            <td>@Model.GameName[0]</td>
                            <td>@Model.Category[0]</td>
                            <td>@Model.GodOfWarRecords[1]</td>
                            <td>Unknown</td>
                            <td>Personal Best</td>
                        </tr>
                        <tr>
                            <td>@Model.GameName[0]</td>
                            <td>@Model.Category[0]</td>
                            <td>@Model.GodOfWarRecords[2]</td>
                            <td>April 6, 2019</td>
                            <td>World Record + Personal Best</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="days-gone">
        <div class="speedrunning-img">
            <img src="/img/daysgone.png">
        </div>

        <div class="records2">
            <table>
                <thead>
                    <tr>
                        <th>Game</th>
                        <th>Category</th>
                        <th>Time</th>
                        <th>Date</th>
                        <th>Status</th>
                        </div>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td>@Model.GameName[1]</td>
                        <td>@Model.Category[0]</td>
                        <td>@Model.DaysGoneRecords</td>
                        <td>March 7, 2019</td>
                        <td>Personal Best</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    

    <div class="zelda">
        <img src="/img/tp.png">
    </div>

    <div class="records3">
        <!---Does this class attribute break dry?--->
        <table>
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Category</th>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@Model.GameName[2]</td>
                    <td>@Model.Category[0]</td>
                    <td>@Model.TPAnyPercentWithAmiiboRecords[0]</td>
                    <td>7 Years Ago</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Model.GameName[2]</td>
                    <td>@Model.Category[1]</td>
                    <td>@Model.TPAnyPercentRecords</td>
                    <td>7 Years Ago</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Model.GameName[2]</td>
                    <td>@Model.Category[0]</td>
                    <td>@Model.TPAnyPercentWithAmiiboRecords[1]</td>
                    <td>7 Years Ago</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Model.GameName[2]</td>
                    <td>@Model.Category[0]</td>
                    <td>@Model.TPAnyPercentWithAmiiboRecords[2]</td>
                    <td>7 Years Ago</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Model.GameName[2]</td>
                    <td>@Model.Category[0]</td>
                    <td>@Model.TPAnyPercentWithAmiiboRecords[3]</td>
                    <td>7 Years Ago</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Model.GameName[2]</td>
                    <td>@Model.Category[0]</td>
                    <td>@Model.TPAnyPercentWithAmiiboRecords[4]</td>
                    <td>7 Years Ago</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Model.GameName[2]</td>
                    <td>@Model.Category[0]</td>
                    <td>@Model.TPAnyPercentWithAmiiboRecords[5]</td>
                    <td>7 Years Ago</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Model.GameName[2]</td>
                    <td>@Model.Category[0]</td>
                    <td>@Model.TPAnyPercentWithAmiiboRecords[6]</td>
                    <td>6 Years Ago</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Model.GameName[2]</td>
                    <td>@Model.Category[0]</td>
                    <td>@Model.TPAnyPercentWithAmiiboRecords[7]</td>
                    <td>6 Years Ago</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Model.GameName[2]</td>
                    <td>@Model.Category[2]</td>
                    <td>@Model.TP100PercentRecords</td>
                    <td>7 Years Ago</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Model.GameName[2]</td>
                    <td>@Model.Category[3]</td>
                    <td>@Model.TPAllDungeonsRecords[0]</td>
                    <td>7 Years Ago</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Model.GameName[2]</td>
                    <td>@Model.Category[3]</td>
                    <td>@Model.TPAllDungeonsRecords[1]</td>
                    <td>7 Years Ago</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Model.GameName[2]</td>
                    <td>@Model.Category[3]</td>
                    <td>@Model.TPAllDungeonsRecords[2]</td>
                    <td>6 Years Ago</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Model.GameName[2]</td>
                    <td>@Model.Category[4]</td>
                    <td>@Model.TPGlitchlessRecords</td>
                    <td>6 Years Ago</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Model.GameName[2]</td>
                    <td>@Model.Category[5]</td>
                    <td>@Model.TPGoronMinesRTARecords[0]</td>
                    <td>7 Years Ago</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Model.GameName[2]</td>
                    <td>@Model.Category[5]</td>
                    <td>@Model.TPGoronMinesRTARecords[1]</td>
                    <td>7 Years Ago</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Model.GameName[2]</td>
                    <td>@Model.Category[5]</td>
                    <td>@Model.TPGoronMinesRTARecords[2]</td>
                    <td>6 Years Ago</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="harry-potter">
        <img src="/img/harrypotter.png">
    </div>

    <div class="records4">
        <table>
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Category</th>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>@Model.GameName[3]</td>
                    <td>@Model.Category[0]</td>
                    <td>@Model.HarryPotterRecords[0]</td>
                    <td>Unknown</td>
                    <td>Personal Best</td>
                </tr>
                <tr>
                    <td>@Model.GameName[3]</td>
                    <td>@Model.Category[0]</td>
                    <td>@Model.HarryPotterRecords[1]</td>
                    <td>December 8, 2017</td>
                    <td>Personal Best</td>
                </tr>
                <tr>
                    <td>@Model.GameName[3]</td>
                    <td>@Model.Category[0]</td>
                    <td>@Model.HarryPotterRecords[2]</td>
                    <td>August 22, 2018</td>
                    <td>Personal Best</td>
                </tr>
            </tbody>
        </table>
    </div>


    <h3 class="comment">I Have also participated in Speedrunning charity events:</h3>

    <div class="charity-speedruns">
        <li>Trashathon 2017</li>
        <li>Awesome Games Done Quick 2020 (Attended)</li>
    </div>
</div>
